.taskList{
    justify-content: center;
}
.newTask{
    justify-content: center;
    display: flex;
    padding-bottom:15px;
    border-bottom: 1px solid black;
}
input{
    border-radius:5%;
    height:20px;
    font-size:15px;
}
input:focus{
    outline: none;
}
.taskList{
    border-bottom: 1px solid black;
}