.task{
    justify-content:center;
    padding-top: 10px;
    padding-bottom:10px;
}
.task p{
    display: inline;
}
.taskDescription{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    padding-top:10px;
    border-top: 1px solid black;
}